div {
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	color: blue;
}

table {
	font-family: "Arial";
	border-collapse: collapse;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
